In [100]:
import sys
sys.path.append('/usr/local/lib/python3.9/site-packages/')
import bisect
import math
import matplotlib as plt
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
import numpy as np
import copy
import json
import lxml
from lxml import objectify

In [101]:
#pandas can read in lots of baller file types

inds=["Letter","b","c","d","e","f","d"]
with  open("testcsv.csv","w")  as ff:
    for iii in range(6):
        for jjj in range(10):
            ff.write(str(jjj)+",")
        ff.write(inds[iii]+"\n")
csvf = pd.read_csv("testcsv.csv")
print (csvf)
csvf1 = pd.read_excel("test.xlsx",header=1)
print (csvf1)

   0  1  2  3  4  5  6  7  8  9 Letter
0  0  1  2  3  4  5  6  7  8  9      b
1  0  1  2  3  4  5  6  7  8  9      c
2  0  1  2  3  4  5  6  7  8  9      d
3  0  1  2  3  4  5  6  7  8  9      e
4  0  1  2  3  4  5  6  7  8  9      f
    a   b   c   d   e   f   g   h   i   j   k
0   0   1   2   3   4   5   6   7   8   9  10
1  11  12  13  14  15  16  17  18  19  20  21
2  21  22  23  24  25  26  27  28  29  30  31
3  31  32  33  34  35  36  37  38  39  40  41

In [102]:
#can save dataframs as csv

df1=pd.DataFrame(np.arange(100).reshape(20,5))
print (df1)
df1.to_csv("dft.csv")
df2= pd.read_csv("dft.csv")
print (df2)

     0   1   2   3   4
0    0   1   2   3   4
1    5   6   7   8   9
2   10  11  12  13  14
3   15  16  17  18  19
4   20  21  22  23  24
5   25  26  27  28  29
6   30  31  32  33  34
7   35  36  37  38  39
8   40  41  42  43  44
9   45  46  47  48  49
10  50  51  52  53  54
11  55  56  57  58  59
12  60  61  62  63  64
13  65  66  67  68  69
14  70  71  72  73  74
15  75  76  77  78  79
16  80  81  82  83  84
17  85  86  87  88  89
18  90  91  92  93  94
19  95  96  97  98  99
    Unnamed: 0   0   1   2   3   4
0            0   0   1   2   3   4
1            1   5   6   7   8   9
2            2  10  11  12  13  14
3            3  15  16  17  18  19
4            4  20  21  22  23  24
5            5  25  26  27  28  29
6            6  30  31  32  33  34
7            7  35  36  37  38  39
8            8  40  41  42  43  44
9            9  45  46  47  48  49
10          10  50  51  52  53  54
11          11  55  56  57  58  59
12          12  60  61  62  63  64
13          13  65  66  67  68  69
14          14  70  71  72  73  74
15          15  75  76  77  78  79
16          16  80  81  82  83  84
17          17  85  86  87  88  89
18          18  90  91  92  93  94
19          19  95  96  97  98  99

In [103]:
#JSON format is javascript oriented notation
with  open("testcsv1.json","w")  as ff:
        ff.write(df2.to_json())
pd.read_json("testcsv1.json")

    Unnamed: 0   0   1   2   3   4
0            0   0   1   2   3   4
1            1   5   6   7   8   9
2            2  10  11  12  13  14
3            3  15  16  17  18  19
4            4  20  21  22  23  24
5            5  25  26  27  28  29
6            6  30  31  32  33  34
7            7  35  36  37  38  39
8            8  40  41  42  43  44
9            9  45  46  47  48  49
10          10  50  51  52  53  54
11          11  55  56  57  58  59
12          12  60  61  62  63  64
13          13  65  66  67  68  69
14          14  70  71  72  73  74
15          15  75  76  77  78  79
16          16  80  81  82  83  84
17          17  85  86  87  88  89
18          18  90  91  92  93  94
19          19  95  96  97  98  99

In [104]:
#xml is extensible markup language tables with metadata
#more general version of html
parsed = objectify.parse("sample.xml")
print (parsed)
roottree=parsed.getroot()
print(roottree.countchildren()) 
for rr in roottree.getchildren(): 
    print(rr.getchildren())

<lxml.etree._ElementTree object at 0x187e81480>
3
[]
['', '', '', '', '', '', '', <Element OpticalGroup at 0x187f730c0>, '', 3, '', <Element Register at 0x187f73bc0>]
['', 1000, 0, 1, 0, 0, 1, 120, 150, 10, '0x78', '0x50', '', '0x78', 2, 0, '', 0, 10, 50, '', 20, '', '', '', '', 1, '', 0, 10, 30, 65, 20, '0x40', '0x90', 0, 3000, 50, 0.9, 0.6, '0x50', 0, 150]

In [105]:
#pickle is efficiecnt, binary data
print(df2)
df2.to_pickle("pickle.pkl")
df3= pd.read_pickle("pickle.pkl")
print(df3)

    Unnamed: 0   0   1   2   3   4
0            0   0   1   2   3   4
1            1   5   6   7   8   9
2            2  10  11  12  13  14
3            3  15  16  17  18  19
4            4  20  21  22  23  24
5            5  25  26  27  28  29
6            6  30  31  32  33  34
7            7  35  36  37  38  39
8            8  40  41  42  43  44
9            9  45  46  47  48  49
10          10  50  51  52  53  54
11          11  55  56  57  58  59
12          12  60  61  62  63  64
13          13  65  66  67  68  69
14          14  70  71  72  73  74
15          15  75  76  77  78  79
16          16  80  81  82  83  84
17          17  85  86  87  88  89
18          18  90  91  92  93  94
19          19  95  96  97  98  99
    Unnamed: 0   0   1   2   3   4
0            0   0   1   2   3   4
1            1   5   6   7   8   9
2            2  10  11  12  13  14
3            3  15  16  17  18  19
4            4  20  21  22  23  24
5            5  25  26  27  28  29
6            6  30  31  32  33  34
7            7  35  36  37  38  39
8            8  40  41  42  43  44
9            9  45  46  47  48  49
10          10  50  51  52  53  54
11          11  55  56  57  58  59
12          12  60  61  62  63  64
13          13  65  66  67  68  69
14          14  70  71  72  73  74
15          15  75  76  77  78  79
16          16  80  81  82  83  84
17          17  85  86  87  88  89
18          18  90  91  92  93  94
19          19  95  96  97  98  99

In [106]:
#HDF5 is for storing large scientific arrays
#hierarchichal data format. supports various compression algorithms 
#hdfstore creates a file then accesses with dict-like syntax
#hdfstore is good for write once read many applications

store=pd.HDFStore("hdftype.hdf")
store["df2"]=df2
print(store["df2"])

#put method does this above and allows options
#this part seems stupid though
store.put("df2",df2,format="table")
print(store.select("df2",where =["index>15"]))

#you can also just use the usual
df2.to_hdf("df2.h5","df2",format="fixed")

    Unnamed: 0   0   1   2   3   4
0            0   0   1   2   3   4
1            1   5   6   7   8   9
2            2  10  11  12  13  14
3            3  15  16  17  18  19
4            4  20  21  22  23  24
5            5  25  26  27  28  29
6            6  30  31  32  33  34
7            7  35  36  37  38  39
8            8  40  41  42  43  44
9            9  45  46  47  48  49
10          10  50  51  52  53  54
11          11  55  56  57  58  59
12          12  60  61  62  63  64
13          13  65  66  67  68  69
14          14  70  71  72  73  74
15          15  75  76  77  78  79
16          16  80  81  82  83  84
17          17  85  86  87  88  89
18          18  90  91  92  93  94
19          19  95  96  97  98  99
    Unnamed: 0   0   1   2   3   4
16          16  80  81  82  83  84
17          17  85  86  87  88  89
18          18  90  91  92  93  94
19          19  95  96  97  98  99